<div class="md:container-lg py-4 bg-white  shadow shadow-lg shadow-orange-400 opacity-90 contenedor_sucursales flex flex-col justify-center">
    <h2 class="text-center text-3xl md:text-4xl uppercase playfair">
        <strong>
            Contacto
        </strong>
    </h2>
    <div class="flex flex-col-reverse md:flex-row w-11/12 md:w-4/6 mx-auto my-1 gap-4">
        <div class="flex justify-center items-center">
            <img [src]="imagen_localizacion" alt="localizacion" class="block p-5">
        </div>
        @for (sucursal of sucursales; track $index) {
        <div class="flex flex-col justify-center">
            <h2 class="md:text-xl lora">
                <strong>
                    Localidad
                </strong> : 
                {{sucursal.localidad}}
            </h2>
            <p class="md:text-xl lora">
                <strong>
                    Estado
                </strong> : 
                {{sucursal.estado}}
            </p>
            <p class="md:text-xl lora">
                <strong>
                    Número de celular:
                </strong> : 
                {{sucursal.numero_telefono}}
            </p>
            <p class="md:text-xl lora">
                <strong>
                    Dirección 
                </strong>: 
                <cite>{{sucursal.direccion_completa}}</cite>
            </p>
            <div class="flex justify-center md:justify-start gap-4 mt-3">
                <button class="bg-yellow-600 py-2 px-5 rounded flex items-center hover:bg-yellow-500 active:bg-yellow-700 cursor-pointer"
                (click)="abrirUbicacion(sucursal.ubicacion)">
                    <img src="/AsaderoLala/icons/icon_location.svg" alt="Icono de ubicación">
                    <p class="text-white font-bold md:text-xl raleway">
                        Ubicación
                    </p>
                </button>
                <button class="bg-yellow-600 py-2 px-5 rounded flex items-center gap-2 hover:bg-yellow-500 active:bg-yellow-700 cursor-pointer"
                (click)="mandarMensaje(sucursal.numero_telefono_whatsapp)">
                    <img src="/AsaderoLala/icons/numero_mensaje.svg" alt="Icono de mensaje">
                    <p class="text-white font-bold md:text-xl raleway">
                        Whatsapp
                    </p>
                </button>
            </div>
        </div>
        }
    </div>
    <div>
        <app-instalaciones
        [images]="galleryImages"
        [showThumbnails]="true"
        [autoPlay]="true"
        [autoPlayDelay]="5000"
        [showLightbox]="true"
        [gridLayout]="false"
        [columns]="3"
        (imageClick)="onImageClick($event)">
        </app-instalaciones>
    </div>
</div>
