<h1 class="text-2xl font-bold text-center">Asadero Doña Lala</h1>
<h2>Lista de productos</h2>
@for (producto of productos; track $index) {
    <p>
        {{producto.nombre}}
    </p>
    @if (producto.presentaciones) {
        @for (presentaciones of producto.presentaciones; track $index) {
            <div>
                <p>
                    {{presentaciones.presentacion}}
                </p>
                <p>
                    {{presentaciones.descripcion}}
                </p>
                <p>
                    {{presentaciones.precio}}
                </p>
            </div>
        }
    }
    <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
}
<router-outlet />
