<div class="relative contenedorCabecera flex justify-center items-center overflow-hidden">
    <div 
        class="fixed overflow-hidden inset-0 bg-cover bg-center transform translate-z-0"
        [style.background-image]="'url(' + imgCabecera + ')'"
    ></div>
    <div class="relative flex justify-center items-center h-screen gap-1.5">
    @for (boton of botonesContacto; track $index) {
            <button type="button" class=" text-gray-900 bg-[#b0b0b0b6] hover:bg-[#b0b0b0]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-md px-1.5 md:px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 gap-1 fontSUSE animate-on-scroll animate-zoom"
            (click)="manejarClic(boton)"
            >
               <img [src]="boton.image" alt="">
                {{boton.name}}
            </button>
        }
    </div>
</div>
