.contenedorCabecera{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px) {
  .parallax-desktop {
    background-attachment: fixed;
  }
}

/* Para móviles, desactivar parallax */
.parallax-mobile {
  background-attachment: scroll;
}