<div class="modal-overlay" *ngIf="visible" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="cerrarModal()">×</button>
    
    <div class="modal-header">
      <h2 class="modal-title">{{ producto?.nombre }}</h2>
    </div>

    <div class="modal-body">
      <img 
        [src]="producto?.imagen" 
        [alt]="producto?.nombre" 
        class="modal-image"
        (click)="expandirImagen()"
      />
      
      <div class="modal-details">
        <h3>Presentaciones disponibles:</h3>
        
        <div class="presentaciones-list">
          @for (presentacion of producto?.presentaciones; track $index) {
            <div 
              class="presentacion-item"
            >
            @if (presentacion) {
              <strong>
                Opción {{ $index + 1 }}:
                <p class="presentacion-descripcion">
                  {{ presentacion.nombre_presentacion }}
                </p>
              </strong> 
              <p class="presentacion-descripcion">
                {{ presentacion.descripcion }}
              </p>
              <p class="presentacion-precio">
                <strong>Precio:</strong> 
                {{ presentacion.precio | currency: '$' }} pesos
              </p>
            }
            </div>
          }
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cerrar" (click)="cerrarModal()">
        Cerrar
      </button>
    </div>
  </div>
</div>

<div class="image-viewer-overlay" [class.active]="imagenExpandida" (click)="cerrarImagen()">
  <div class="image-viewer-content" (click)="$event.stopPropagation()">
    <button class="image-viewer-close" (click)="cerrarImagen()">×</button>
    <img class="image-viewer-img" [src]="producto?.imagen" [alt]="'Imagen expandida de ' + producto?.nombre">
  </div>
</div>